* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 20px;
}

html {
    height: 100%;
    width: 100%;
}

body {

    text-align: center;
}


/* Header */

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 30px 10%;
    margin: 2%
}

.header .logo {
    cursor: pointer;
    margin-right: auto;
}

.header .logo img {
    width: 50%;
    margin-top: 5%;
    transition: all 0.3s;
}

.header .logo img:hover {
    transform: scale(1.2);
}

.header .nav-links {
    list-style: none;
}

.header .nav-links li {
    display: inline-block;
    padding: 0 50px;
}

.header .nav-links li:hover {
    transform: scale(1.1);
}

.header .nav-links a {
    font-size: 20px;
    color: #66645f;
    text-decoration: none;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 0.5px 0.5px 0.5px rgb(170, 166, 166);
}

.header .nav-links li a:hover {
    color: #ffbc0e;
}

.header .btn button {
    margin-left: 20px;
    font-weight: 700;
    color: #aeaba2;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover {
    background-color: #e2f1f8;
    color: #ffbc0e;
    transform: scale(1.1);
}

/* Boton de busqueda */

form {
    display: flex;
    align-items: center;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 50px;
}

button[type="submit"] {

    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;


}


.checkbtn {
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    width: auto;
    cursor: pointer;
    display: none;

}

#check {
    display: none;
}



@media screen and (max-width: 952px) {
    .enlace {
        padding-left: 20px;
    }

    .header .nav-links a {
        display: none;
        flex-direction: column;

    }

}

@media (max-width: 768px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: coral;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;

    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;

    }

    nav ul li a {
        font-size: 20px;
    }

}

#filtrar {
    padding: 30px;
    background-color: #FFF9EA;
    display: block;
}

section>p {
    text-align: center;
    margin-right: 25%;
    margin-left: 25%;
    justify-content: center;
}

#ct {
    cursor: pointer;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    gap: 181px;
    width: 150px;
    height: 53px;
    background: #FFAC4B;
    border: 1px solid #AAAAAA;
    border-radius: 8px;
}

#filtro {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer {
   font-size: 20px;
    padding: 18px;
    background-color: #FFF9EA;
}

#logo{
    display: flex;
}

